.c1et76ur{will-change:color background-color border-color box-shadow;-webkit-transition:color 0.3s linear,background-color 0.3s linear,box-shadow 0.3s linear;transition:color 0.3s linear,background-color 0.3s linear,box-shadow 0.3s linear;border-color:0.3s linear;}
.lsyc4xu{border-color:rgba(255,255,255,0.2);}
.d9hen1q{border-color:rgba(25,25,25,0.2);}
