.bjuqaez{-webkit-transition:opacity 0.3s linear;transition:opacity 0.3s linear;}
.s10osl9q{-webkit-transition:color 0.3s linear,background-color 0.3s linear;transition:color 0.3s linear,background-color 0.3s linear;}
.g1i7pvyv{-webkit-transition:opacity 0.3s linear;transition:opacity 0.3s linear;}
