.m1c4uvkr{width:375px;max-width:90%;-webkit-transition:-webkit-transform 0.4s ease-in-out;-webkit-transition:transform 0.4s ease-in-out;transition:transform 0.4s ease-in-out;}
.m1ulyrpy{-webkit-transition:opacity 0.4s linear;transition:opacity 0.4s linear;}
.fd9q2bc{-webkit-transition:-webkit-transform 0.4s ease-in-out;-webkit-transition:transform 0.4s ease-in-out;transition:transform 0.4s ease-in-out;}
.m1kmmn63{background:linear-gradient(236deg,#841227,#660013);}
