.m47az7k{min-height:20%;min-width:375px;max-height:80%;max-width:100%;}
.mq72j2p{-webkit-transition:all 0.3s;transition:all 0.3s;}
.mgxupgd{-webkit-overflow-scrolling:auto;}.mgxupgd::-webkit-scrollbar{-webkit-appearance:none;width:3px;height:3px;}.mgxupgd::-webkit-scrollbar-thumb{border-radius:2px;background-color:rgba(0,0,0,0.15);-webkit-box-shadow:0 0 1px rgba(255,255,255,0.5);}
